body {
    margin: 0px;
    padding: 0;
    background-color: rgb(156, 154, 154)
  }


  
/* Navbar-jsx Style */
.nav--bar--container {
    display: flex;
    padding: 20px 36px;
    height: 70px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px rgba(0, 0, 0, 0.1);
}
