body {
    margin: 0px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
.gray {
  color: rgba(145, 142, 155, 1)
}

.bold {
  font-weight: bold;
}

/* Navbar-jsx Style */
.nav--bar--container {
    display: flex;
    padding: 20px 36px;
    height: 70px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px rgba(0, 0, 0, 0.1);
}

/* Hero-jsx Style */

section {
  padding: 20px;
}

.hero--section {
  display: flex;
  flex-direction: column;
}

.hero--image {
max-width: 600px;
align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

.card {
  width: 176px;
  font-size: 12px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  width: 14px;
  height: 14px;
}
