body {
    margin: 0px;
    padding: 0;
    color: white
  }


  
/* Navbar-jsx Style */
.nav--bar--container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 70px;
    width: 550px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px rgba(0, 0, 0, 0.1);
}
